@font-face {
    font-family: 'accanthis';
    src: url('AccanthisADFStd-Italic.otf') format:('opentype');

    font-family: 'consola';
    src: url('consola.ttf') format:('truetype');
}

body {
    font-family: 'consola', serif;
    min-height: 100vh;
    background-color: #333838;
    color: #c1ced4;
}

header {
    text-align: center;
    padding: 10vh 0 10vh 0;
    font-size: 3.25em;
    background-color: #474747;
    /* add the box shadow for the header */
    box-shadow: inset 0 -1rem .5rem -0.5rem rgba(0,0,0,0.1);
    /* add for the rounded bottom border */
    border-radius: 0rem 0rem 10rem 10rem;
    border: 0rem solid #000000;
}

header h1 {
    /* Title */
    font-style: italic;
    font-weight: bold;
    color: #ee8463;
    padding: 0 2vw 0.2em 2vw;
    border-bottom: 0.15rem solid rgba(0,0,0,0.15);
    text-shadow: 0.025em 0.025em 0 rgba(0,0,0,0.15);
    display: inline-block;
    line-height: 1.1em;
}

header em {
    font-style: italic;
    font-size: 2rem;
    text-shadow: 0.05em 0.05em 0 rgba(0,0,0,0.15);
    display: inline-block;
}

.posts {
    /* Blog post section */
    height: 100%;
    padding: 5vh 5vh 5vh 5vh;
    margin: 10vh 10vw 30vh 10vw;
    background-color: #474747;
    
    /* round the post box */
    border-radius: 2rem 2rem 0rem 0rem;

    box-shadow: inset 0 1rem .5rem -0.5rem rgba(0,0,0,0.1);
}

.post-title {
    /* blog post title */
    text-align: center;
    font-family: 'accanthis', serif;
    font-size: 2.5rem;
}

.post-body {
    font-family: 'accanthis', serif;
    text-align: justify;
    font-size: 1.5em;
}

.post-image {
    width: 100%;
}

hr {
    border-bottom: 1px solid #c1ced4;
    margin: 1rem 0 1rem 0;
}

svg {
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

